<h1 style="left: 200px">Welcome to the Burger App!</h1>
<ul>
    <h2>All Uneaten Burgers:</h2>
{{#each burgers}}
    {{#unless devoured}}
    <img src="/css/download.png" />

    <h3>{{ burger_name}} </h3><img class="uneaten_burger" /><button class="devour" data-id={{id}}>Devour</button>
    {{/unless}}
{{/each}}
</ul>
<ul>
    <h2>All Eaten Burgers:</h2>
{{#each burgers}}
    {{#if devoured}}
    <h3> {{burger_name}} </h3><button class="delete" data-id={{id}}>Clear</button>
    {{/if}}
{{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="button" id="addBurger">Add Burger</button>
</form>