body   { background-image: linear-gradient(silver, red);
}
#header {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}
.add-section {
    text-align: center;
    border-style: groove;
    border-width: .8ch;
    border-color: aliceblue;
}


ul img {
    width: 20%;
    height: 20%;
}

.eaten-section {
    position: right;
}

/* img {
    src:"download.png"
} */