.container {
    background-image: linear-gradient(silver, red);
}
h1 {
    text-align: center;
    font-family: fantasy;
    font-size: larger;
}
.add-section {
    text-align: center;
}


ul img {
    width: 20%;
    height: 20%;
}

.eaten-section {
    position: right;
}

/* img {
    src:"download.png"
} */